@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
  font-family: 'Poppins';
  background-color: #6FD1D7;
}

.container{
  width: 400px;
  background-color: #fff;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.input-weather{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 20px;
}

#location{
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}
#btn{
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #6FD1D7;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#btn:hover{
  background-color: #5CB3B8;
}

.weather-info{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#icon{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #66b2b2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: none; /* awalnya disembunyikan */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}